body {
  text-align: center;
}

.container {
  height: 400px;
  width: 900px;
  background-color: rgb(255, 252, 252);
}

h1 {
  margin-bottom: 10px;
  color: gray;
}

hr {
  width: 300px;
  border: 1px solid rgb(220, 220, 220);
  margin: 0 auto;
  margin-bottom: 20px;
}

.card-header {
  background-color: rgb(237, 237, 237);
}

.btn-link {
  color: orange;
}
